extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Actualizar contraseña
      h2 usuario: #{user.user}
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action='', method='POST', role='form')
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="password") Clave
          .col-xs-12.col-sm-10
            input#name.form-control(name="password", placeholder="clave" required type="password")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="newPassword")  Nueva clave
          .col-xs-12.col-sm-10
            input#name.form-control(name="newPassword", placeholder="nueva clave" type="password"  required)
        input#name.form-control(name="id" type="hidden"  required value="#{id}")
        button.btn.btn-default.pull-right Cambiar clave
    .col-xs-12.col-md-4