extends layout

block content
 h2 Personal
  #banner.page-header
  h4 Cantidad de usuarios registrados: #{users.length}
   a(href='../add_user') (agregar usuario)
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each user in users
          .col-xs-12.list-group-item
            h4= user.user 
            p Tipo: #{user.type}
              small &nbsp;
              - var id = user._id;
            a(href='../delete_user/' + id) Eliminar- 
            a(href='../change_password/' + id) Cambiar clave-  
            
          
